*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    max-width: 95%;
    margin: 50px auto;
    font-family: 'Merriweather Sans', sans-serif;
}
/* banner section start */
.banner-one{
    background: linear-gradient(180deg, #070211 0%, rgba(7, 2, 17, 0.00)),url('images/Banner\ Image.png');
    background-repeat: no-repeat;
    background-size: 100%;
    height: 100vh;
    color: #FFFFFF;
    text-align: center;
    margin-bottom: 20px;
   
}
.banner-one > h5{
    font-size: 32px;
    font-weight: 400;
    padding-top: 150px;
}
.banner-one-title{
    font-size: 72px;
    font-weight: 900;
    line-height: 95px;
}
/* banner section ends*/
/* new year offer section start */
.new-year-offer{
    text-align: center;
    margin-bottom: 48px;
}
.offer{
    font-family: 'Inter', sans-serif;
    font-size: 88px;
    font-weight: 700;
    color: #F00;
    margin-bottom: 48px;
}
.new-year-offer p{
    font-size: 24px;
    font-weight: 500;
    color: #F00;
}
.new-year-offer h2{
    font-size: 48px;
    font-weight: 700;
    margin-bottom: 48px;
    color: #070211;
}
/* new year offer section ends */

/* midnight party section starts */

.midnight-party{
    background-image: url('images/Vectorrr.png');
    background-repeat: no-repeat;
    background-size: 100%;
    height: 100vh;
    padding-left: 126px;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    margin-bottom: 50px;
}
.vectory-title{
    font-size: 64px;
    font-weight: 800;
    line-height: 70px;
    color: #FFFFFF;
    padding-top: 140px;
    margin-bottom: 10px;
}
.text-vectoer p{
    font-size: 18px;
    line-height: 30px;
    color: rgba(255, 255, 255, 0.80);
    margin-bottom: 10px;
    font-family: 'Inter', sans-serif;
}
 .btn {
    margin-top: 10px;
    padding: 15px 35px;
    border-color:red;
    background-color: rgba(2midnight party section starts55, 0, 0, 0.185);
    border-radius: 8px;
    font-size: 30px;
    color: #FFFFFF;
    font-weight: 700;
}
.btn:hover{
    background-color: #F00;
    box-shadow: 2px 2px 5px white;
    border: none;
}

.img-2024 img{
    width: 319.83px;
    height: 464.662px;
    padding: 70px 0px 0px 60px;

}

/* midnight party section ends */

/* party time stars */
.party-time{
    background-image: linear-gradient(rgba(202, 55, 55, 0.493),rgba(255, 72, 0, 0.027));
    border-radius: 8px;
    margin-bottom: 70px;
}
.vectory-contant{
    padding: 100px 300px;
    text-align: center;
}
.vectory-contant p{
    font-size: 32px;
    font-weight: 600px;
    line-height: 60px;
    font-family: 'Inter', sans-serif;
}
.vectory-contant >p span{
    color: #F00;
    font-size: 32px;
    
}
/* party time ends */

/* comming soon stats */
.comming-soon{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 5px;
    margin-bottom: 60px;
}
.comming-soon-content {
    padding-top: 30px;
}
.beat-offer{
    font-size: 24px;
    color: #F00;
    font-weight: 500;
    margin-bottom: 10px;
}
.comming-soon-content h1{
    font-size: 48px;
    font-weight: 700;
    margin-bottom: 10px;
}
.comming-soon-des{
    color: rgba(7, 2, 17, 0.60);
    font-size: 20px;
    font-weight: 400;
    line-height: 30px;
}
.comming-soon-img img{
    border: 5px solid red;
    border-radius: 50%;
    padding: 10px;
}
.comming-soon-second-contant{
    padding-left: 10px;
}
.comming-soon-second-contant h1{
    padding-top: 60px;
    font-size: 48px;
    font-weight: 700;
    color: #F00;
}
.comming-soon-second-contant p{
    color: rgba(7, 2, 17, 0.60);
    font-size: 20px;
    font-weight: 400;
    line-height: 30px;
    margin-bottom: 50px;
}
/* comming soon ends */
/* ------------------------ */

.holiday_sale{
    text-align: center;
}
.holiday_sale > h5{
    font-size: 24px;
    font-weight: 500px;
}
.holiday_sale h1{
    font-size: 72px;
    font-weight: 900;
}
.holiday_sale>h1 span{
    color: #F00;
}
.holiday_sale p{
    color: rgba(7, 2, 17, 0.60);
    font-size: 20px;
    font-weight: 400;
    line-height: 30px;
}

.discount_img{
    position: relative;
    bottom: 100px;
    display: grid; 
    margin-top: -200px;
    /* margin-bottom: 50px; */
    grid-template-columns:repeat(3,1fr); 
    
}
.win-box{
    position: relative;
    top: 325px;
    
}
.fifty_per{
    position: relative;
    right: 590px;
    top: 400px;
    
}
.sopping_per{
    position: relative;
    left: 0px;
    top: 330px;
    
}

.red_color img{
    width: 100%;
    /* position: relative;
    bottom: 100px; */
}
/* comming soon ends */